@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var memberService =
    ApplicationContext.Current.Services.MemberService;

    var activeMembers = memberService.GetMembersByGroup("Active");
    var prospectMembers = memberService.GetMembersByGroup("Prospect");
}

<p>Active members</p>
@foreach (var member in activeMembers)
{
    <p>
        @(member.GetValue("firstname") + " "
+ member.GetValue("lastname")) <br />
        @member.GetValue("address")<br />
        @(member.GetValue("zip") + " "
+ member.GetValue("city"))
        Mobile: @member.GetValue("mobile")<br />
    </p>
        string fullPath = member.GetValue("photo").ToString();
        string[] substrings = fullPath.Split(',');
        string srcString = substrings[2];
        string[] srcSubStrings = srcString.Split(':');
        string srcPath = srcSubStrings[1].Replace("\"", "");
        srcPath = srcPath.Replace("}", "");
        <img class="img-responsive" src="@srcPath" />
}

<p>Prospect members</p>
@foreach (var member in prospectMembers)
{
    <p>
        @(member.GetValue("firstname") + " "
+ member.GetValue("lastname")) <br />
        Mobile: @member.GetValue("mobile")<br />
    </p>
}
