@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var memberService =
    ApplicationContext.Current.Services.MemberService;

    var activeMembers = memberService.GetMembersByGroup("Active");
    var prospectMembers = memberService.GetMembersByGroup("Prospect");
}

<div class="panel">
    <h2 class="panel-title">Active members</h2>
    <div class="panel-body">
        <div class="row">
            @foreach (var member in activeMembers)
            {
                string fullPath = member.GetValue("photo").ToString();
                string[] substrings = fullPath.Split(',');
                string srcString = substrings[2];
                string[] srcSubStrings = srcString.Split(':');
                string srcPath = srcSubStrings[1].Replace("\"", "");
                srcPath = srcPath.Replace("}", "");

                <div class="col-md-6">
                    <img class="img-responsive" src="@srcPath" style="max-height: 300px; float: left;" />
                    <h4>@(member.GetValue("firstname") + " " + member.GetValue("lastname"))</h4>
                    <div>@member.GetValue("address")</div>
                    <div>@(member.GetValue("zip") + " " + member.GetValue("city"))</div>
                    <br />
                    <div>Mobile: @member.GetValue("mobile")</div>
                </div>
            }
        </div>
    </div>
</div>

<div class="panel">
    <h2 class="panel-title">Prospect members</h2>
    <div class="panel-body">
        <div class="row">
            @foreach (var member in prospectMembers)
            {
                <div class="col-md-3">
                    <h4>@(member.GetValue("firstname") + " " + member.GetValue("lastname"))</h4>
                    <div>Mobile: @member.GetValue("mobile")</div>
                </div>
            }
        </div>
    </div>
</div>
