@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc");
    @* OrderBy() takes the property to sort by and optionally order desc/asc *@
}
@foreach (var item in selection)
{
    <div class="item">
        <a href="@item.Url"><h2 class="post-title">@item.Name</h2></a>
        <div class="preview">
            @Umbraco.Truncate(@item.ArticleContents, 100)
        <ul class="pager">
            <li class="next">
                <a href="@item.Url">Read more →</a>
            </li>
        </ul>
    </div>
</div>
<hr />
}